{% extends 'base.html' %}

{% block contents %}

    
<body>    
    <div class="container">

        {% for w in posts %}
        <br><br>
        <div style="border: 2px solid gray; padding: 30px;">
            <h1>{{w.title}}</h1>
            <p>{{w.pub_date}}</p>
            <p>{{w.summary}} </p>
            <a href="{% url 'detail' w.id %}">...more </a>
        </div>

        {% endfor %}
    </div>

</body>

<!-- First Previous 3of4 Next Last -->
<div class="container">
    
    {% if posts.has_previous %}
    <a href="?page=1">First</a>
    <a href="?page={{posts.previous_page_number}}">Previous</a>
    {% endif %}

    <span>{{posts.number}}</span>
    <span>of</span>
    <span>{{posts.paginator.num_pages}}</span>

    
    {% if posts.has_next %}
    <a href="?page={{posts.next_page_number}}">Next</a>
    <a href="?page={{posts.paginator.num_pages}}">Last</a>
        
    {% endif %}
        
        
</div>

{% endblock contents %}